&nbsp;&nbsp;
<button class="btn btn-primary" (click)="getAppointmentList()">
        Refresh</button> &nbsp;
<ng-container>Last updated: {{refreshedOn|date:"dd-MM-YYYY HH:mm:ss"}}</ng-container>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Date</th>
            <th scope="col">Patient ID</th>
            <th scope="col">Doctor ID</th>
            <th scope="col">Slot No</th>
            <th scope="col">Status</th>
            <th scope="col">Prescription</th>
            <th scope="col">Problem</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let app of list; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>APP-{{ app.id }}</td>
            <td>{{ app.date }}</td>
            <td>{{ app.patientId }}</td>
            <td>{{ app.doctorId }}</td>
            <td>{{ app.slotNo }}</td>
            <td>{{ app.status }}</td>
            <td>{{ app.prescription }}</td>
            <td>{{ app.problem }}</td>

        </tr>
    </tbody>
</table>