<div class="b-example-divider"></div>

<div class="container">
    <header class=" page-header d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a routerLink="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <b>Hospital Management System</b>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>

            <li><button type="button" class="btn btn-link">Dashboard</button></li>
        </ul>

        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-primary" routerLink="user">User</button> &nbsp;
            <button type="button" class="btn btn-primary" routerLink="doctor">Doctor</button> &nbsp;
            <button type="button" class="btn btn-primary" routerLink="admin">Admin</button>
        </div>
    </header>
</div>
<router-outlet></router-outlet>